


  .buyskills:hover{
    box-shadow: 0px 0px 10px 2px #000000;
  }

  .buyskills:active{
    background-color: #00ff00;

  }







 .img-ore{
  width:250px;
  height: 250px;


 }

  .box {
    display: flex;
    background: linear-gradient(180deg, #AA88A9 43.75%, #32556D 100%);    mix-blend-mode: normal;
    border-radius: 25px;
  }

  .info {
    margin: 10px;
    height: 551px;
    background: #455C71;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .clicker-iron-button{
    display: inline-block;
    margin: 50px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 5px 5px 25px rgb(0, 0, 0);
    border: none;



  }
  .clicker-iron-button:active{
    transform: translateY(8px);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .info-text{
    margin-left: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(40, 52, 61, 1);

  }
   .p-skills{
   
    margin-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #28343D;

   }





  .window-skills {
    width:30%;
    margin: 10px;
    background: #A4BBC8;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
 
  .tr-style{
    display:flex;
    place-items: center;
    margin: 2%;
    width: 95%;
    background: #567F9D;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

  }

  .icon-img{
    
    margin: 5px;
    width:12%;
    border: 5px solid #C4C4C4;
    background: #C4C4C4;
    border-radius: 12px;

  }

  .buyskills{
    margin: auto;
    margin-right: 1%;
    border: none;
    background: #C4C4C4;
    border-radius: 20px;
    width: 90px;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;

    color: #000000;
  }


  .PriceMargin{

    margin: auto;
    margin-right: 1%;;
  }
  .leftMargin{
   
    margin-left: 15px;

  }